# Go to https://infura.io, sign up, create an API Key or use the existing one
# in its dashboard, and replace "API_URL" with its Sepolia API URL
API_URL=

# Replace this private key with your Sepolia account private key
# To export your private key from Metamask, open Metamask and
# go to Account Details > Export Private Key
# Beware: NEVER put real Ether or token into testing accounts
PRIVATE_KEY=

# Prevent Webpack 5.x Errors
GENERATE_SOURCEMAP=false

# For react use
REACT_APP_API_URL=$API_URL

# RPC Endpoint of Local EVM
REACT_APP_LOCAL_RPC_URL="http://127.0.0.1:8545/"